<div class="container" id="main-container">
<section>
    <div class="example-label"></div>
    <div class="example-button-row" >
      <button mat-stroked-button color="primary" (click)="onOpenModal(null, 'add')">Create Employee</button>
      <!-- <button mat-stroked-button color="primary" (click)="onOpenModal(null, 'edit')">Edit Employee</button>
      <button mat-stroked-button color="primary" (click)="onOpenModal(null, 'delete')">Add Employee</button> -->
      <!-- <button mat-stroked-button color="primary">Create Employee</button> -->
      <!-- <button mat-stroked-button color="primary">Primary</button> -->
    </div>
</section>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="empId">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
        </ng-container>

        <ng-container matColumnDef="empName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
        </ng-container>

        <ng-container matColumnDef="empSalary">
            <th mat-header-cell *matHeaderCellDef> Salary </th>
            <td mat-cell *matCellDef="let element"> {{element.empSalary}} </td>
        </ng-container>

        <ng-container matColumnDef="projectId">
            <th mat-header-cell *matHeaderCellDef> Project Id </th>
            <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
        </ng-container>

        <ng-container matColumnDef="empEmail">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.empEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button matTooltip="Click to Edit" (click)="onOpenModal(row, 'edit')" class="iconbutton" color="primary">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
              <button mat-icon-button matTooltip="Click to Delete" (click)="onOpenModal(row, 'delete')" class="iconbutton" color="warn">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>

<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Create Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
            <div class="form-group">
               <label for="name">Name</label>
               <input type="text" ngModel name="empName" class="form-control" id="empName" placeholder="Employee Name" required>
            </div>
            <div class="form-group">
               <label for="salary">Salary</label>
               <input type="number" ngModel name="empSalary" class="form-control" id="empSalary" placeholder="Employee Salary" required>
            </div>
            <div class="form-group">
               <label for="projectId">Project Id</label>
               <input type="text" ngModel name="projectId" class="form-control" id="projectId" placeholder="Project Id" required>
            </div>
            <div class="form-group">
               <label for="email">Email Address</label>
               <input type="email" ngModel name="empEmail" class="form-control" id="empEmail" placeholder="Employee Email" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
</div>

<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.empName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" ngModel="{{editEmployee?.empName}}" name="empName" class="form-control" id="empName" aria-describedby="emailHelp" placeholder="Name">
               </div>
               <input type="hidden" ngModel="{{editEmployee?.empId}}" name="empId" class="form-control" id="empId" placeholder="Id">
               <div class="form-group">
                  <label for="salary">Salary</label>
                  <input type="number" ngModel="{{editEmployee?.empSalary}}" name="empSalary" class="form-control" id="empSalary" placeholder="Employee Salary">
               </div>
               <div class="form-group">
                  <label for="projectId">Project Id</label>
                  <input type="text" ngModel="{{editEmployee?.projectId}}" name="projectId" class="form-control" id="projectId" placeholder="Project Id">
               </div>
               <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" ngModel="{{editEmployee?.empEmail}}" name="empEmail" class="form-control" id="empEmail" placeholder="Employee Email">
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>

<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete employee {{deleteEmployee?.empName}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteEmloyee(deleteEmployee?.empId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>


<!--<div *ngFor="let employee of employees">-->
<!--  <div>{{employee.empName}}</div>-->
<!--</div>-->

