table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

button {
    margin: 16px 8px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  mat-form-field.mat-form-field {
    width: 100%;
  }