<div class="container" id="main-container" [routerLink]="'/employee'">
   <div class="row">
      <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <p href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""
                        class="img-fluid rounded-circle w-60"></p>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{employee?.empName}}</h5>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i></i>Id : {{employee?.empId}}</li>
               <li class="list-group-item"><i></i>Salary : {{employee?.empSalary | currency:'USD':'symbol-narrow'}}</li>
               <li class="list-group-item"><i></i>Email : {{employee?.empEmail}}</li>
               <li class="list-group-item"><i></i>Project Id : {{employee?.projectId}}</li>
            </ul>
         </div>
      </div>
   </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO EMPLOYEES!</h4>
      <p>No Employees were found.</p>
   </div>
</div>